h1 {
  font-size: 18;
  color: rebeccapurple;
}

body {
  background-color: 35363a;
  font-family: 'Baloo 2', cursive;
}

div{
  margin-top: 50px;
  font-size: 50px;
}
button{
  margin-top: 40px;
  font-size: 30px;
  color: blue;
  background-color: darkgrey;
}

#Orologio{
  color: aliceblue;
}